.list {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 570px) {
  .list {
    justify-content: flex-start;
  }
}